[Unit]
Description=A polkit stolen from KDE Plasma
After=graphical-session.target

[Service]
Type=exec
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "wlroots:sway:Wayfire:labwc:Hyprland" ""
ExecStart=/usr/libexec/kf6/polkit-kde-authentication-agent-1
Restart=on-failure
Slice=background-graphical.slice

[Install]
WantedBy=graphical-session.target
