binds {
    ///////////////
    //// NiRi ////
    ///////////////

    Ctrl+Alt+Delete                        { quit; }
    Mod+Slash                              { show-hotkey-overlay; }
    Mod+Tab         repeat=false           { toggle-overview; }
    Mod+Escape      allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Alt+S            allow-when-locked=true { spawn "systemctl" "suspend"; }
    Mod+Shift+S          allow-when-locked=true { spawn "loginctl" "lock-session"; }
    Mod+Alt+Shift+Ctrl+S allow-when-locked=true { spawn "loginctl" "unlock-session"; }


    //////////////////
    //// Noctalia ////
    //////////////////

    Mod+Space { spawn "noctalia" "msg" "panel-toggle" "launcher"; }
    Mod+S     { spawn "noctalia" "msg" "panel-toggle" "session"; }
    Mod+W     { spawn "noctalia" "msg" "panel-toggle" "wallpaper"; }

    Mod+Return { spawn "noctalia" "msg" "panel-toggle" "control-center"; }
    Mod+M      { spawn "noctalia" "msg" "panel-toggle" "control-center" "media"; }
    Mod+P      { spawn "noctalia" "msg" "panel-toggle" "control-center" "system"; }

    Mod+N       { spawn "noctalia" "msg" "panel-toggle" "control-center" "notifications"; }
    Mod+Alt+N   { spawn "noctalia" "msg" "notification-invoke-latest"; }
    Mod+Shift+N { spawn "noctalia" "msg" "notification-clear-active"; }
    Mod+Ctrl+N  { spawn "noctalia" "msg" "notification-clear-history"; }


    //////////////////////
    //// Applications ////
    //////////////////////

    Mod+E { spawn    "nautilus"; }
    Mod+T { spawn    "wezterm" "start" "--always-new-process"; }
    Mod+Y { spawn-sh "wezterm -e nvim ~/.sync/TODO/todo.txt"; }

    Mod+F1       { spawn-sh "wezterm -e ping 192.168.0.1"; }
    // TODO: Some way I can ping it even when not on my network (REST API probably)
    Mod+F2       { spawn-sh "systemctl --user restart rclone-sync.service"; }
    Mod+Shift+F2 { spawn-sh "wezterm -e ~/.local/bin/rclone-fix.sh"; }


    ////////////////////
    //// Media Keys ////
    ////////////////////

    XF86AudioRaiseVolume       allow-when-locked=true { spawn "noctalia" "msg" "volume-up" "2"; }
    XF86AudioLowerVolume       allow-when-locked=true { spawn "noctalia" "msg" "volume-down" "2"; }
    Shift+XF86AudioRaiseVolume allow-when-locked=true { spawn "noctalia" "msg" "volume-up" "1"; }
    Shift+XF86AudioLowerVolume allow-when-locked=true { spawn "noctalia" "msg" "volume-down" "1"; }
    XF86AudioMute              allow-when-locked=true { spawn "noctalia" "msg" "volume-mute"; }
    XF86AudioMicMute           allow-when-locked=true { spawn "noctalia" "msg" "mic-mute"; }

    Mod+Shift+1 allow-when-locked=true { spawn "noctalia" "msg" "volume-set" "10%"; }
    Mod+Shift+2 allow-when-locked=true { spawn "noctalia" "msg" "volume-set" "20%"; }
    Mod+Shift+3 allow-when-locked=true { spawn "noctalia" "msg" "volume-set" "30%"; }
    Mod+Shift+4 allow-when-locked=true { spawn "noctalia" "msg" "volume-set" "40%"; }
    Mod+Shift+5 allow-when-locked=true { spawn "noctalia" "msg" "volume-set" "50%"; }
    Mod+Shift+6 allow-when-locked=true { spawn "noctalia" "msg" "volume-set" "60%"; }
    Mod+Shift+7 allow-when-locked=true { spawn "noctalia" "msg" "volume-set" "70%"; }
    Mod+Shift+8 allow-when-locked=true { spawn "noctalia" "msg" "volume-set" "80%"; }
    Mod+Shift+9 allow-when-locked=true { spawn "noctalia" "msg" "volume-set" "90%"; }
    Mod+Shift+0 allow-when-locked=true { spawn "noctalia" "msg" "volume-set" "100%"; }

    Mod+Ctrl+1 allow-when-locked=true { spawn "noctalia" "msg" "mic-volume-set" "10%"; }
    Mod+Ctrl+2 allow-when-locked=true { spawn "noctalia" "msg" "mic-volume-set" "20%"; }
    Mod+Ctrl+3 allow-when-locked=true { spawn "noctalia" "msg" "mic-volume-set" "30%"; }
    Mod+Ctrl+4 allow-when-locked=true { spawn "noctalia" "msg" "mic-volume-set" "40%"; }
    Mod+Ctrl+5 allow-when-locked=true { spawn "noctalia" "msg" "mic-volume-set" "50%"; }
    Mod+Ctrl+6 allow-when-locked=true { spawn "noctalia" "msg" "mic-volume-set" "60%"; }
    Mod+Ctrl+7 allow-when-locked=true { spawn "noctalia" "msg" "mic-volume-set" "70%"; }
    Mod+Ctrl+8 allow-when-locked=true { spawn "noctalia" "msg" "mic-volume-set" "80%"; }
    Mod+Ctrl+9 allow-when-locked=true { spawn "noctalia" "msg" "mic-volume-set" "90%"; }
    Mod+Ctrl+0 allow-when-locked=true { spawn "noctalia" "msg" "mic-volume-set" "100%"; }

    XF86AudioPlay allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioStop allow-when-locked=true { spawn "playerctl" "stop"; }
    XF86AudioPrev allow-when-locked=true { spawn "playerctl" "previous"; }
    XF86AudioNext allow-when-locked=true { spawn "playerctl" "next"; }

    Mod+I       allow-when-locked=true { spawn "playerctl" "play-pause"; }
    Mod+U       allow-when-locked=true { spawn "playerctl" "previous"; }
    Mod+O       allow-when-locked=true { spawn "playerctl" "next"; }
    Mod+Shift+U allow-when-locked=true { spawn "playerctl" "position" "10-"; }
    Mod+Shift+O allow-when-locked=true { spawn "playerctl" "position" "10+"; }

    XF86MonBrightnessUp         allow-when-locked=true { spawn "brightnessctl" "-e" "set" "5%+"; }
    XF86MonBrightnessDown       allow-when-locked=true { spawn "brightnessctl" "-e" "set" "5%-"; }
    Shift+XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "-e" "set" "1%+"; }
    Shift+XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "-e" "set" "1%-"; }

    Mod+Alt+1 allow-when-locked=true { spawn "brightnessctl" "-e" "set" "10%"; }
    Mod+Alt+2 allow-when-locked=true { spawn "brightnessctl" "-e" "set" "20%"; }
    Mod+Alt+3 allow-when-locked=true { spawn "brightnessctl" "-e" "set" "30%"; }
    Mod+Alt+4 allow-when-locked=true { spawn "brightnessctl" "-e" "set" "40%"; }
    Mod+Alt+5 allow-when-locked=true { spawn "brightnessctl" "-e" "set" "50%"; }
    Mod+Alt+6 allow-when-locked=true { spawn "brightnessctl" "-e" "set" "60%"; }
    Mod+Alt+7 allow-when-locked=true { spawn "brightnessctl" "-e" "set" "70%"; }
    Mod+Alt+8 allow-when-locked=true { spawn "brightnessctl" "-e" "set" "80%"; }
    Mod+Alt+9 allow-when-locked=true { spawn "brightnessctl" "-e" "set" "90%"; }
    Mod+Alt+0 allow-when-locked=true { spawn "brightnessctl" "-e" "set" "100%"; }


    ///////////////////////////
    //// Window Management ////
    ///////////////////////////

    Mod+H { focus-column-left; }
    Mod+J { focus-window-down; }
    Mod+K { focus-window-up; }
    Mod+L { focus-column-right; }

    Mod+Shift+H { move-column-left; }
    Mod+Shift+J { move-window-down; }
    Mod+Shift+K { move-window-up; }
    Mod+Shift+L { move-column-right; }

    Mod+Home       { focus-column-first; }
    Mod+End        { focus-column-last; }
    Mod+Shift+Home { move-column-to-first; }
    Mod+Shift+End  { move-column-to-last; }

    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Mod+C       { center-column; }
    Mod+Shift+C { center-visible-columns; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+Z repeat=false { toggle-column-tabbed-display; }
    Mod+Q repeat=false { close-window; }

    
    ///////////////////////
    //// Window Sizing ////
    ///////////////////////

    Mod+R       { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R  { reset-window-height; }

    Mod+Ctrl+H { set-column-width "-10%"; }
    Mod+Ctrl+L { set-column-width "+10%"; }
    Mod+Ctrl+J { set-window-height "-10%"; }
    Mod+Ctrl+K { set-window-height "+10%"; }

    Mod+F       { maximize-column; }
    Mod+Alt+F   { fullscreen-window; }
    Mod+Shift+F { maximize-window-to-edges; }


    ////////////////////////////
    //// Monitor Management ////
    ////////////////////////////

    Mod+Alt+H { focus-monitor-left; }
    Mod+Alt+L { focus-monitor-right; }

    Mod+Alt+Shift+H { move-column-to-monitor-left; }
    Mod+Alt+Shift+L { move-column-to-monitor-right; }

    Mod+Shift+P { power-off-monitors; }

    Mod+Alt+Ctrl+H { move-workspace-to-monitor-left; }
    Mod+Alt+Ctrl+L { move-workspace-to-monitor-right; }


    //////////////////////////////
    //// Workspace Management ////
    //////////////////////////////

    Mod+Alt+J { focus-workspace-down; }
    Mod+Alt+K { focus-workspace-up; }

    Mod+Alt+Shift+J { move-column-to-workspace-down; }
    Mod+Alt+Shift+K { move-column-to-workspace-up; }

    Mod+Alt+Ctrl+J { move-workspace-down; }
    Mod+Alt+Ctrl+K { move-workspace-up; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }


    /////////////////////////
    //// Mouse Scrolling ////
    /////////////////////////

    Mod+WheelScrollDown  { focus-column-right; }
    Mod+WheelScrollRight { focus-column-right; }
    Mod+WheelScrollUp    { focus-column-left; }
    Mod+WheelScrollLeft  { focus-column-left; }

    Mod+Shift+WheelScrollRight { move-column-right; }
    Mod+Shift+WheelScrollLeft  { move-column-left; }
    Mod+Shift+WheelScrollDown  { move-column-right; }
    Mod+Shift+WheelScrollUp    { move-column-left; }

    Mod+Alt+WheelScrollDown       cooldown-ms=150 { focus-workspace-down; }
    Mod+Alt+WheelScrollUp         cooldown-ms=150 { focus-workspace-up; }

    Mod+Alt+Shift+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Alt+Shift+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }


    ////////////////////////
    //// Screen Capture ////
    ////////////////////////

    Print      { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print  { screenshot-window; }


    ///////////////////
    //// Input Map ////
    ///////////////////

    Alt+Space       { switch-layout "next"; }
    Alt+Shift+Space { switch-layout "prev"; }
}
