binds {
    ///////////////
    //// NiRi ////
    ///////////////

    Mod+Tab    repeat=false           { toggle-overview; }
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    Mod+Slash                         { show-hotkey-overlay; }
    Ctrl+Alt+Delete                   { quit; }
    Mod+Alt+Shift+Ctrl+Return         { spawn "loginctl" "unlock-session"; }


    //////////////////
    //// Noctalia ////
    //////////////////

    Mod+Space { spawn "noctalia" "msg" "panel-toggle" "launcher"; }
    Mod+S     { spawn "noctalia" "msg" "panel-toggle" "session"; }
    Mod+W     { spawn "noctalia" "msg" "panel-toggle" "wallpaper"; }

    Mod+Return { spawn "noctalia" "msg" "panel-toggle" "control-center"; }
    Mod+N      { spawn "noctalia" "msg" "panel-toggle" "control-center" "notifications"; }
    Mod+M      { spawn "noctalia" "msg" "panel-toggle" "control-center" "media"; }



    //////////////////////
    //// Applications ////
    //////////////////////

    Mod+T { spawn "wezterm" "start" "--always-new-process"; }
    Mod+E { spawn "nautilus"; }


    ////////////////////
    //// Media Keys ////
    ////////////////////

    XF86AudioRaiseVolume       allow-when-locked=true { spawn "noctalia" "msg" "volume-up" "4"; }
    XF86AudioLowerVolume       allow-when-locked=true { spawn "noctalia" "msg" "volume-down" "4"; }
    Shift+XF86AudioRaiseVolume allow-when-locked=true { spawn "noctalia" "msg" "volume-up" "1"; }
    Shift+XF86AudioLowerVolume allow-when-locked=true { spawn "noctalia" "msg" "volume-down" "1"; }
    XF86AudioMute              allow-when-locked=true { spawn "noctalia" "msg" "volume-mute"; }
    XF86AudioMicMute           allow-when-locked=true { spawn "noctalia" "msg" "mic-mute"; }

    XF86AudioPlay allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioStop allow-when-locked=true { spawn "playerctl" "stop"; }
    XF86AudioPrev allow-when-locked=true { spawn "playerctl" "previous"; }
    XF86AudioNext allow-when-locked=true { spawn "playerctl" "next"; }

    Mod+I       allow-when-locked=true { spawn "playerctl" "play-pause"; }
    Mod+U       allow-when-locked=true { spawn "playerctl" "previous"; }
    Mod+O       allow-when-locked=true { spawn "playerctl" "next"; }
    Mod+Shift+U allow-when-locked=true { spawn "playerctl" "position" "10-"; }
    Mod+Shift+O allow-when-locked=true { spawn "playerctl" "position" "10+"; }

    XF86MonBrightnessUp         allow-when-locked=true { spawn "noctalia" "msg" "brightness-up" "10"; }
    XF86MonBrightnessDown       allow-when-locked=true { spawn "noctalia" "msg" "brightness-down" "10"; }
    Shift+XF86MonBrightnessUp   allow-when-locked=true { spawn "noctalia" "msg" "brightness-up" "1"; }
    Shift+XF86MonBrightnessDown allow-when-locked=true { spawn "noctalia" "msg" "brightness-down" "1"; }


    ///////////////////////////
    //// Window Management ////
    ///////////////////////////

    Mod+H { focus-column-left; }
    Mod+J { focus-window-down; }
    Mod+K { focus-window-up; }
    Mod+L { focus-column-right; }

    Mod+Shift+H { move-column-left; }
    Mod+Shift+J { move-window-down; }
    Mod+Shift+K { move-window-up; }
    Mod+Shift+L { move-column-right; }

    Mod+Home      { focus-column-first; }
    Mod+End       { focus-column-last; }
    Mod+Shift+Home { move-column-to-first; }
    Mod+Shift+End  { move-column-to-last; }

    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Mod+C      { center-column; }
    Mod+Shift+C { center-visible-columns; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+Z repeat=false { toggle-column-tabbed-display; }
    Mod+Q repeat=false { close-window; }

    
    ///////////////////////
    //// Window Sizing ////
    ///////////////////////

    Mod+R            { switch-preset-column-width; }
    Mod+Shift+R      { switch-preset-window-height; }
    Mod+Shift+Ctrl+R { reset-window-height; }

    Mod+Minus       { set-column-width "-10%"; }
    Mod+Equal       { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+F       { maximize-column; }
    Mod+Alt+F   { fullscreen-window; }
    Mod+Shift+F { maximize-window-to-edges; }
    Mod+Ctrl+F  { expand-column-to-available-width; }


    ////////////////////////////
    //// Monitor Management ////
    ////////////////////////////

    Mod+Ctrl+H { focus-monitor-left; }
    Mod+Ctrl+J { focus-monitor-down; }
    Mod+Ctrl+K { focus-monitor-up; }
    Mod+Ctrl+L { focus-monitor-right; }

    Mod+Shift+Ctrl+H { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L { move-column-to-monitor-right; }

    Mod+Shift+P { power-off-monitors; }

    // And you can also move a whole workspace to another monitor:
    // Mod+Shift+Ctrl+Left  { move-workspace-to-monitor-left; }
    // ...


    //////////////////////////////
    //// Workspace Management ////
    //////////////////////////////

    Mod+Alt+J { focus-workspace-down; }
    Mod+Alt+K { focus-workspace-up; }

    Mod+Alt+Shift+J { move-column-to-workspace-down; }
    Mod+Alt+Shift+K { move-column-to-workspace-up; }

    // Mod+Alt+Shift+J { move-workspace-down; }
    // Mod+Alt+Shift+K { move-workspace-up; }


    /////////////////////////
    //// Mouse Scrolling ////
    /////////////////////////

    Mod+WheelScrollDown  { focus-column-right; }
    Mod+WheelScrollRight { focus-column-right; }
    Mod+WheelScrollUp    { focus-column-left; }
    Mod+WheelScrollLeft  { focus-column-left; }

    Mod+Shift+WheelScrollRight { move-column-right; }
    Mod+Shift+WheelScrollLeft  { move-column-left; }
    Mod+Shift+WheelScrollDown  { move-column-right; }
    Mod+Shift+WheelScrollUp    { move-column-left; }

    Mod+Alt+WheelScrollDown       cooldown-ms=150 { focus-workspace-down; }
    Mod+Alt+WheelScrollUp         cooldown-ms=150 { focus-workspace-up; }

    Mod+Alt+Shift+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Alt+Shift+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }


    ////////////////////////
    //// Screen Capture ////
    ////////////////////////

    Print      { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print  { screenshot-window; }


    ///////////////////
    //// Input Map ////
    ///////////////////

    Alt+Space       { switch-layout "next"; }
    Alt+Shift+Space { switch-layout "prev"; }
}
