input {
    keyboard {
        xkb {
            layout "cz,us,cz"
	    variant "coder,,qwerty"
        }

	// repeat-delay 600
        numlock
    }

    touchpad {
        tap

        accel-speed 0.5
        accel-profile "flat"

        natural-scroll
        scroll-factor 0.25
        scroll-method "two-finger"
    }

    mouse {
        // accel-speed 0.2
        accel-profile "flat"

	left-handed
    }
    
    focus-follows-mouse
}

