// Open the Firefox picture-in-picture player as floating window
window-rule {
    match title="^Picture-in-Picture$"
    default-floating-position x=24 y=200 relative-to="top-right"
    open-floating true

    default-column-width { fixed 400; }
    default-window-height { fixed 225; }

    border {
        off
    }
}

// Hide KeePassXC from scree capture
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    block-out-from "screen-capture"
}

// Apply Noctalia blur background
layer-rule {
    match namespace="^noctalia-backdrop"
    place-within-backdrop true
}

// For all windows
window-rule {
    geometry-corner-radius 12
    clip-to-geometry true

    background-effect {
        blur true
	xray true
    }

}

