[Desktop Entry]
Type=Application
Name=TheCalling Workspace Switcher
Icon=preferences-desktop-workspaces
Exec=notify-send error
Terminal=false
StartupNotify=false
Actions=switch-desktop-1;switch-desktop-2;switch-desktop-3;switch-desktop-4;move-desktop-1;move-desktop-2;move-desktop-3;move-desktop-4;switch-up;switch-down;move-up;move-down;

[Desktop Action switch-desktop-1]
Name=Switch to Alpha
Exec=~/.local/bin/tc-workspace-switcher.sh 1

[Desktop Action switch-desktop-2]
Name=Switch to Bravo
Exec=~/.local/bin/tc-workspace-switcher.sh 2

[Desktop Action switch-desktop-3]
Name=Switch to Charlie
Exec=~/.local/bin/tc-workspace-switcher.sh 3

[Desktop Action switch-desktop-4]
Name=Switch to Delta
Exec=~/.local/bin/tc-workspace-switcher.sh 4

[Desktop Action move-desktop-1]
Name=Move to Alpha
Exec=~/.local/bin/tc-workspace-switcher.sh 1 move

[Desktop Action move-desktop-2]
Name=Move to Bravo
Exec=~/.local/bin/tc-workspace-switcher.sh 2 move

[Desktop Action move-desktop-3]
Name=Move to Charlie
Exec=~/.local/bin/tc-workspace-switcher.sh 3 move

[Desktop Action move-desktop-4]
Name=Move to Delta
Exec=~/.local/bin/tc-workspace-switcher.sh 4 move

[Desktop Action switch-up]
Name=Switch one desktop up
Exec=~/.local/bin/tc-workspace-switcher.sh up

[Desktop Action switch-down]
Name=Switch one desktop down
Exec=~/.local/bin/tc-workspace-switcher.sh down

[Desktop Action move-up]
Name=Move one desktop up
Exec=~/.local/bin/tc-workspace-switcher.sh up move

[Desktop Action move-down]
Name=Move one desktop down
Exec=~/.local/bin/tc-workspace-switcher.sh down move
