window#waybar {
    all: unset;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
}


/**********/
/* WAYBAR */
/**********/

window#waybar.main {
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    background-color: #000000;
}

window#waybar.main .module {
    margin: 2px 0 6px 0;
    padding: 0 24px;
    min-height: 24px;
    border-radius: 100px;
}

window#waybar.rounding {
    background-color: transparent;
}

window#waybar.secondary .modules-left,
window#waybar.secondary .modules-right {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 32px;
    min-width: 256px;
}

window#waybar.secondary .modules-left {
    background-image: url("src/CornerLeftTop.svg");
}

window#waybar.secondary .modules-right {
    background-image: url("src/CornerRightTop.svg");
}


/*********/
/* FIXES */
/*********/

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}


/**********/
/* SLIDER */
/**********/

slider {
    min-width: 0px;
    min-height: 0px;
    background: none;
    background-image: none;
}

trough {
    min-width: 100px;
    min-height: 2px;
    background: #2a2b2b;
}

highlight {
    min-width: 2px;
    background: #ffffff;
}


/***********/
/* MODULES */
/***********/

#clock {
    background-color: #1f1f1f;
    border: 1px solid #2a2a2a;
}

#battery.warning {
    background-color: #ffa657;
    border: 1px solid #ffc680;
    color: #000000;
}

#battery.critical {
    background-color: #ff7b72;
    border: 1px solid #ffa198;
    color: #000000;
}
