window#waybar {
    all: unset;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
}


/************/
/* MAIN BAR */
/************/

window#waybar.main {
    font-family: "Lexend", "Symbols Nerd Font", sans-serif;
    font-weight: 600;
    background-color: #000000;
}

window#waybar.main .module {
    margin: 3px 0 6px 0;
    min-height: 24px;
    border-radius: 100px;
}

window#waybar.main .modules-left .module,
window#waybar.main .modules-right .module {
    padding: 0 12px;
}

window#waybar.main .modules-left > widget:first-child .module {
    margin-left: 6px;
}

window#waybar.main .modules-right > widget:last-child .module {
    margin-right: 6px;
}


/****************/
/* ROUNDING BAR */
/****************/

window#waybar.rounding {
    background-color: transparent;
}

window#waybar.rounding .modules-left,
window#waybar.rounding .modules-right {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 32px;
    min-width: 256px;
}

window#waybar.rounding .modules-left {
    background-image: url("src/CornerLeftTop.svg");
}

window#waybar.rounding .modules-right {
    background-image: url("src/CornerRightTop.svg");
}


/*********/
/* FIXES */
/*********/

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}


/**********/
/* SLIDER */
/**********/

slider {
    min-width: 0px;
    min-height: 0px;
    background: none;
    background-image: none;
}

trough {
    min-width: 100px;
    min-height: 2px;
    background: #2a2b2b;
}

highlight {
    min-width: 2px;
    background: #ffffff;
}


/***********/
/* MODULES */
/***********/

#clock {
    padding: 0 24px;
    background-color: #1f1f1f;
    border: 1px solid #2a2a2a;
}

#battery.warning:not(.charging) {
    background-color: #ffc680;
    border: 1px solid #ffa657;
    color: #000000;
}

#battery.critical:not(.charging) {
    background-color: #ffa198;
    border: 1px solid #ff7b72;
    color: #000000;
}
