window#waybar {
    all: unset;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
}


/**********/
/* WAYBAR */
/**********/

window#waybar.main {
    font-family: "Lexend", "JetBrainsMono Nerd Font Propo", sans-serif;
    font-weight: 600;
    background-color: #000000;
}

window#waybar.main .module {
    padding: 4px 8px 0 8px;
}

window#waybar.main .modules-left,
window#waybar.main .modules-right {
    padding: 0 6px;
}

window#waybar.secondary {
    background-color: transparent;
}

window#waybar.secondary .modules-left,
window#waybar.secondary .modules-right {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 32px;
    min-width: 256px;
}

window#waybar.secondary .modules-center {
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 8px;
    min-width: 384px;
}

window#waybar.secondary .modules-left {
    background-image: url("src/CornerLeftTop.svg");
}

window#waybar.secondary .modules-center {
    background-image: url("src/CenterTop.svg");
    background-position: top;
}

window#waybar.secondary .modules-right {
    background-image: url("src/CornerRightTop.svg");
}


/*********/
/* FIXES */
/*********/

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}


/**********/
/* SLIDER */
/**********/

slider {
    min-width: 0px;
    min-height: 0px;
    background: none;
    background-image: none;
}

trough {
    min-width: 100px;
    min-height: 2px;
    background: #2a2b2b;
}

highlight {
    min-width: 2px;
    background: #ffffff;
}


/***********/
/* MODULES */
/***********/

#battery.full {
    color: #7ee787;
}

#battery.warning {
    color: #ffa657;
}

#battery.critical {
    color: #ff7b72;
}
