window#waybar {
    all: unset;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
}


/************/
/* MAIN BAR */
/************/

window#waybar.main {
    font-family: "Lexend", "Symbols Nerd Font", sans-serif;
    font-weight: 600;
    background-color: #000000;
}

window#waybar.main .module {
    margin: 8px 0;
    padding: 0 8px;
    min-height: 20px;
    border-radius: 100px;
}

window#waybar.main .modules-left > widget:first-child .module {
    margin-left: 6px;
}

window#waybar.main .modules-right > widget:last-child .module {
    margin-right: 6px;
}


/************/
/* ALT BARS */
/************/

window#waybar.alt-top,
window#waybar.alt-bottom {
    background-color: transparent;
}

window#waybar.alt-top .modules-left,
window#waybar.alt-top .modules-right,
window#waybar.alt-bottom .modules-left,
window#waybar.alt-bottom .modules-right {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 24px;
    min-width: 24px;
}

window#waybar.alt-top .modules-left {
    background-image: url("src/CornerLeftTop.svg");
}

window#waybar.alt-top .modules-right {
    background-image: url("src/CornerRightTop.svg");
}

window#waybar.alt-bottom .modules-left {
    background-image: url("src/CornerLeftBottom.svg");
}

window#waybar.alt-bottom .modules-right {
    background-image: url("src/CornerRightBottom.svg");
}


/*********/
/* FIXES */
/*********/

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}


/**********/
/* SLIDER */
/**********/

slider {
    min-width: 0px;
    min-height: 0px;
    background: none;
    background-image: none;
}

trough {
    min-width: 100px;
    min-height: 2px;
    background: #2a2b2b;
}

highlight {
    min-width: 2px;
    background: #ffffff;
}


/***********/
/* MODULES */
/***********/

#battery.warning:not(.charging) {
    background-color: #ffc680;
    color: #000000;
}

#battery.critical:not(.charging) {
    background-color: #ffa198;
    color: #000000;
}
