include "components/input.kdl"
include "components/output.kdl"
include "components/layout.kdl"
include "components/animations.kdl"
include "components/rules.kdl"
include "components/binds.kdl"

spawn-at-startup "noctalia"

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/.sync/Pictures/Screenshots/Screenshot_%Y%m%d-%H%M%S.png"

cursor {
    xcursor-theme "Bibata-Modern-Classic"
    xcursor-size 24
}

debug {
    honor-xdg-activation-with-invalid-serial
}
