/****************/
/*** Sidebery ***/
/****************/

/* Hide sidebar-panel-header (sidebar.revamp: true) */
#sidebar-panel-header { display: none; }

/* Hide horizontal native tabs toolbar */
#TabsToolbar > * { display: none !important; }

/* Hide top window border */
#nav-bar { border-color: transparent !important; }


/*****************/
/*** Headerbar ***/
/*****************/

toolbarbutton {
    margin: 3px !important;
}


/***************/
/*** Sidebar ***/
/***************/

#main-button {
    margin: 4px 3px !important;
}

#main-button .button-background {
    background-color: transparent !important;
    border-color: transparent !important;
}


/*************/
/*** Other ***/
/*************/

/* Move sidebar buttons to center */
.wrapper .buttons-wrapper { justify-content: center !important; }

/* Hide settings icon from sidebar */
.wrapper .buttons-wrapper .bottom-actions.actions-list { display: none !important; }

/* Hide search mode swithcer */
.searchmode-switcher { display: none !important; }

/* Center URL search bar */
.urlbar-input-box { text-align: center !important; }

